<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed? %>
   <p><input type="checkbox" checked><%= link_to task.title, show_path(task.id) %></p>
   <%else%>
   <p><input type="checkbox" ><%= link_to task.title, show_path(task.id) %></p>
   <% end %>
 <% end %>
